div{
   
    #div1{
        background-color: darkgoldenrod;
    }

    div#div2ID{
        background-color: green;
    }

    float: left;
    width: 100px;
}

div div div{
    background-color: hotpink;
}